
[v-cloak]>* {
    display: none !important;
  }

  [v-cloak]::before {
    content: " ";
    display: block !important;

  }

  .rq{
    color:red;
  }
  .rq-hint{
    color:red !important;
  }


  :root{
    --bcolor: #3051D3;
}

.bcolor{
    color: var(--bcolor);
}

.active-arrow{
    transform: rotate(180deg);
}

.cus-btn1:focus{
    box-shadow: none;
}

.cus-btn1:hover{
    color: var(--bcolor);
}

.cus-btn2:focus{
    box-shadow: none;
}

.cus-btn2:hover{
    color: var(--bcolor);
}

.cus-btn3:focus{
    box-shadow: none;
}

.cus-btn3:hover{
    color: var(--bcolor);
}

.cus-btn-primary{
    background-color: var(--bcolor);
    color: white;
}

.cus-btn-primary:hover{
    color: white;
}

.related-from-groups{
    border-left: 1px solid rgb(189, 189, 189);
    padding-left: 1.5rem;
    margin-left: 1rem;
}

.cus-rounded{
    border-radius: 1rem;
}


:root{
    --bcolor: #3051D3;
}

.cus-btn-primary{
    background-color: var(--bcolor);
    color: white;
}

.cus-btn-primary:hover{
    color: white;
}

.rate-num1::after{
    content: "1";
}

.rate-num2::after{
    content: "2";
}

.rate-num3::after{
    content: "3";
}

.rate-num4::after{
    content: "4";
}

.rate-num5::after{
    content: "5";
}

.rate-num > div{
    cursor: pointer;
    width: 70px;
    height: 70px;
    background-color: #E5EAFF;
    color: #3051D3;
    transition: 0.1s ease-in;
    z-index: 200;
}

.rate-num > div:hover{
    background-color: #bfccff;
}

.rate-num > div::after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.rate-num::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 4px;
    background-color: #E5EAFF;
}

.selected-rate{
    color: white!important;
    background-color: #3051D3!important;
}

.drop-hover > a:hover{
    background-color: #eeeeee;
}

.btn-survey{
    border: 1px solid #3051D3;
    color: #3051D3;
}

.btn-survey:hover{
    color: #3051D3;
}

.icon img{
    display: inline-block;
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.icon{
    text-align: center;
}
.icon-text{
    text-align: center;
}
.icon-text b{
    text-align: center;

}
.icon_fontawesom{

  color: green;

}
.myicon{
 padding: 13px;
    font-size: 50px;

}



.scrollable-element {
    scrollbar-width: thin;
  }

.satisfaction-icon{
    font-size: 50px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}


.emoji-anchor:hover {
    color: red;
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000;
}


.menu-icon-color{
    color: #3051D3;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
}


/* sidebar + navbar Start */
.navbar-header {
    height: 59px !important;
}
.navbar-brand-box {
    height: 64px !important;
}


/* sidebar + navbar End */

/* Fazil */
.bg-light-blue-7 {
    background: #039be5 !important;
}
.text-light-blue-7 {
    color: #0288d1;
}

.bg-invert-light-blue-7 {
    background: #fd772e;
}



/* Index Table */
    thead tr th, tbody tr td {
        padding: 0px !important;
        vertical-align: middle !important;
    }

    thead tr th {
        padding: 5px !important;
        vertical-align: middle !important;
    }

    /* thead {
        background-color: #039be5;
        color: white;
    } */
    



